<a href="https://colab.research.google.com/github/ChatMadhu/Data_Scientist_Salary/blob/main/Data_Scientist_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [20]:
df = pd.read_csv('/content/glassdoor_jobs.csv')

In [21]:
df.head

<bound method NDFrame.head of      Unnamed: 0                                          Job Title  \
0             0                                     Data Scientist
1             1                          Healthcare Data Scientist
2             2                                     Data Scientist
3             3                                     Data Scientist
4             4                                     Data Scientist
..          ...                                                ...
951         951                               Senior Data Engineer
952         952  Project Scientist - Auton Lab, Robotics Institute
953         953                               Data Science Manager
954         954                                      Data Engineer
955         955          Research Scientist – Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
951  $72K-$133K (Glassdoor est.)
952   $56K-$91K (Glassdoor est.)
953  $95K-$160K (Glassdoor est.)
954                           -1
955  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
951  THE CHALLENGE\nEventbrite has a world-class da...     4.4
952  The Auton Lab at Carnegie Mellon University is...     2.6
953  Data Science ManagerResponsibilities:\n\nOvers...     3.2
954  Loading...\n\nTitle: Data Engineer\n\nLocation...     4.8
955  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name         Location  \
0                        Tecolote Research\n3.8  Albuquerque, NM
1    University of Maryland Medical System\n3.4    Linthicum, MD
2                                  KnowBe4\n4.8   Clearwater, FL
3                                     PNNL\n3.8     Richland, WA
4                       Affinity Solutions\n2.9     New York, NY
..                                          ...              ...
951                             Eventbrite\n4.4    Nashville, TN
952         Software Engineering Institute\n2.6   Pittsburgh, PA
953                           Numeric, LLC\n3.2    Allentown, PA
954                                   IGNW\n4.8       Austin, TX
955           Riverside Research Institute\n3.6  Beavercreek, OH

          Headquarters                    Size  Founded  \
0           Goleta, CA   501 to 1000 employees     1973
1        Baltimore, MD        10000+ employees     1984
2       Clearwater, FL   501 to 1000 employees     2010
3         Richland, WA  1001 to 5000 employees     1965
4         New York, NY     51 to 200 employees     1998
..                 ...                     ...      ...
951  San Francisco, CA  1001 to 5000 employees     2006
952     Pittsburgh, PA   501 to 1000 employees     1984
953    Chadds Ford, PA       1 to 50 employees       -1
954       Portland, OR    201 to 500 employees     2015
955      Arlington, VA   501 to 1000 employees     1967

          Type of ownership                          Industry  \
0         Company - Private               Aerospace & Defense
1        Other Organization  Health Care Services & Hospitals
2         Company - Private                 Security Services
3                Government                            Energy
4         Company - Private           Advertising & Marketing
..                      ...                               ...
951        Company - Public                          Internet
952    College / University           Colleges & Universities
953       Company - Private            Staffing & Outsourcing
954       Company - Private                       IT Services
955  Nonprofit Organization                  Federal Agencies

                           Sector                           Revenue  \
0             Aerospace & Defense         $50 to $100 million (USD)
1                     Health Care            $2 to $5 billion (USD)
2               Business Services        $100 to $500 million (USD)
3    Oil, Gas, Energy & Utilities  $500 million to $1 billion (USD)
4               Business Services          Unknown / Non-Applicable
..                            ...                               ...
951        Information Technology        $100 to $500 million (USD)
952                     Education          Unknown / Non-Applicable
953             Business Services           $5 to $10 million (USD)
954        Information Technology          $25 to $50 million (USD)
955                    Government         $50 to $100 million (USD)

                                           Competitors
0                                                   -1
1                                                   -1
2                                                   -1
3    Oak Ridge National Laboratory, National Renewa...
4                 Commerce Signals, Cardlytics, Yodlee
..                                                 ...
951                    See Tickets, TicketWeb, Vendini
952                                                 -1
953                                                 -1
954                                             Slalom
955                                                 -1

[956 rows x 15 columns]>

In [ ]:
#salary parsing
#company name text only 
#state field
#age of company
#parsingof job descriotion(pthon, etc)

In [22]:
df = df[df['Salary Estimate']!= '-1']

In [38]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [39]:
salary.head

<bound method NDFrame.head of 0       $53K-$91K
1      $63K-$112K
2       $80K-$90K
3       $56K-$97K
4      $86K-$143K
          ...
950    $58K-$111K
951    $72K-$133K
952     $56K-$91K
953    $95K-$160K
955    $61K-$126K
Name: Salary Estimate, Length: 742, dtype: object>

In [40]:
minus_kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [42]:
minus_kd.head

<bound method NDFrame.head of 0       53-91
1      63-112
2       80-90
3       56-97
4      86-143
        ...
950    58-111
951    72-133
952     56-91
953    95-160
955    61-126
Name: Salary Estimate, Length: 742, dtype: object>

In [46]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0 )  
df['Employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'Employer provided salary' in x.lower() else 0 )

<ipython-input-46-339c5d5fd47f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0 )
<ipython-input-46-339c5d5fd47f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'Employer provided salary' in x.lower() else 0 )

In [47]:
df.head

<bound method NDFrame.head of      Unnamed: 0                                          Job Title  \
0             0                                     Data Scientist
1             1                          Healthcare Data Scientist
2             2                                     Data Scientist
3             3                                     Data Scientist
4             4                                     Data Scientist
..          ...                                                ...
950         950           Sr Scientist, Immuno-Oncology - Oncology
951         951                               Senior Data Engineer
952         952  Project Scientist - Auton Lab, Robotics Institute
953         953                               Data Science Manager
955         955          Research Scientist – Security and Privacy

                 Salary Estimate  \
0     $53K-$91K (Glassdoor est.)
1    $63K-$112K (Glassdoor est.)
2     $80K-$90K (Glassdoor est.)
3     $56K-$97K (Glassdoor est.)
4    $86K-$143K (Glassdoor est.)
..                           ...
950  $58K-$111K (Glassdoor est.)
951  $72K-$133K (Glassdoor est.)
952   $56K-$91K (Glassdoor est.)
953  $95K-$160K (Glassdoor est.)
955  $61K-$126K (Glassdoor est.)

                                       Job Description  Rating  \
0    Data Scientist\nLocation: Albuquerque, NM\nEdu...     3.8
1    What You Will Do:\n\nI. General Summary\n\nThe...     3.4
2    KnowBe4, Inc. is a high growth information sec...     4.8
3    *Organization and Job ID**\nJob ID: 310709\n\n...     3.8
4    Data Scientist\nAffinity Solutions / Marketing...     2.9
..                                                 ...     ...
950  Site Name: USA - Massachusetts - Cambridge\nPo...     3.9
951  THE CHALLENGE\nEventbrite has a world-class da...     4.4
952  The Auton Lab at Carnegie Mellon University is...     2.6
953  Data Science ManagerResponsibilities:\n\nOvers...     3.2
955  Returning Candidate? Log back in to the Career...     3.6

                                   Company Name         Location  \
0                        Tecolote Research\n3.8  Albuquerque, NM
1    University of Maryland Medical System\n3.4    Linthicum, MD
2                                  KnowBe4\n4.8   Clearwater, FL
3                                     PNNL\n3.8     Richland, WA
4                       Affinity Solutions\n2.9     New York, NY
..                                          ...              ...
950                                    GSK\n3.9    Cambridge, MA
951                             Eventbrite\n4.4    Nashville, TN
952         Software Engineering Institute\n2.6   Pittsburgh, PA
953                           Numeric, LLC\n3.2    Allentown, PA
955           Riverside Research Institute\n3.6  Beavercreek, OH

                  Headquarters                    Size  Founded  \
0                   Goleta, CA   501 to 1000 employees     1973
1                Baltimore, MD        10000+ employees     1984
2               Clearwater, FL   501 to 1000 employees     2010
3                 Richland, WA  1001 to 5000 employees     1965
4                 New York, NY     51 to 200 employees     1998
..                         ...                     ...      ...
950  Brentford, United Kingdom        10000+ employees     1830
951          San Francisco, CA  1001 to 5000 employees     2006
952             Pittsburgh, PA   501 to 1000 employees     1984
953            Chadds Ford, PA       1 to 50 employees       -1
955              Arlington, VA   501 to 1000 employees     1967

          Type of ownership                          Industry  \
0         Company - Private               Aerospace & Defense
1        Other Organization  Health Care Services & Hospitals
2         Company - Private                 Security Services
3                Government                            Energy
4         Company - Private           Advertising & Marketing
..                      ...                               ...
950        Company - Public         Biotech & Pharmaceuticals
951        Company - Public                          Internet
952    College / University           Colleges & Universities
953       Company - Private            Staffing & Outsourcing
955  Nonprofit Organization                  Federal Agencies

                           Sector                           Revenue  \
0             Aerospace & Defense         $50 to $100 million (USD)
1                     Health Care            $2 to $5 billion (USD)
2               Business Services        $100 to $500 million (USD)
3    Oil, Gas, Energy & Utilities  $500 million to $1 billion (USD)
4               Business Services          Unknown / Non-Applicable
..                            ...                               ...
950     Biotech & Pharmaceuticals                $10+ billion (USD)
951        Information Technology        $100 to $500 million (USD)
952                     Education          Unknown / Non-Applicable
953             Business Services           $5 to $10 million (USD)
955                    Government         $50 to $100 million (USD)

                                           Competitors  hourly  \
0                                                   -1       0
1                                                   -1       0
2                                                   -1       0
3    Oak Ridge National Laboratory, National Renewa...       0
4                 Commerce Signals, Cardlytics, Yodlee       0
..                                                 ...     ...
950                         Pfizer, AstraZeneca, Merck       0
951                    See Tickets, TicketWeb, Vendini       0
952                                                 -1       0
953                                                 -1       0
955                                                 -1       0

     Employer_provided
0                    0
1                    0
2                    0
3                    0
4                    0
..                 ...
950                  0
951                  0
952                  0
953                  0
955                  0

[742 rows x 17 columns]>

In [50]:
min_hr = minus_kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary', ''))

In [61]:
df['min_salary'] = df['min_salary'].astype('str')

<ipython-input-61-d8a943e85579>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = df['min_salary'].astype('str')

In [62]:
df['min_salary'].dtype

dtype('O')

In [66]:
df['min_salary'] = min_hr.apply(lambda x: str(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: str(x.split('-')[1]))

<ipython-input-66-ad5209f95d71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_salary'] = min_hr.apply(lambda x: str(x.split('-')[0]))
<ipython-input-66-ad5209f95d71>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_salary'] = min_hr.apply(lambda x: str(x.split('-')[1]))